# Database Configuration
POSTGRES_DB=hirewire
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Metabase Configuration
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=postgres
MB_DB_PASS=password
MB_DB_HOST=postgres

# Airflow Configuration
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=

# Superset Configuration
SUPERSET_SECRET_KEY=your-secret-key-change-in-production